extends  baseEmail

block content
    p Hi #{firstName},
        p  Forgot Password? Reset your password by clicking the URL : #{url}
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a#password-reset(href=`${url}`, target='_blank' data-reset=`${url}`) Reset Password
        p If you didn't request for forgot password, please ignore this email.