.footer
      .footer-main
        | Etiam et id tincidunt faucibus mollis a sociis pretium fermentum quis magna faucibus lacus.
      .footer-navigate
        .nav
          h5 Marketplace
          p Home
          p Activity
          p Discover
          p Learn more
        .nav
          h5 Company
          p About Us
          p Services
          p Portfolio
        .nav
          h5 Contact
          p Facebook
          p Instagram
          p Twitter
          p Email
