.navbar
    a.navlogo(href='/') Mintrrs
    button.hamburger
        svg.feather.feather-menu(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M3 12h18M3 6h18M3 18h18')
    .navlinkwrap
        span.navlink.selectedlink Home
        span.navlink My Profile
        span.navlink Activity
        span.navlink How It Works
    if !user
        .buttonwrap
            a(href='/signup')
                button.createbtn.selectedbtn SIGN UP
            a(href='/login')
                button.createbtn LOG IN
        
    else 
        .user--profile
            a.nav__el.nav__user--photo(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` crossorigin='anonymous' alt=`${user.name.split(' ')[0]}`)
            a.user__profile--name(href='/me' style='text-decoration:none;')= user.name.split(' ')[0]
        button.createbtn.selectedbtn.nav__btn--logout LOGOUT
    script(src='/js/login.js' defer)
               
    
