extends base 
block append head 
    script(src='/js/alerts.js')
    //- script(type='text/javascript' src=`/js/validatePassword.js` defer)
block content
    
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Password
            form.form.form--reset-password 
                .form__group.ma-bt-md
                    label.form__label(for='reset-password') Password
                    input#reset-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='reset-password-confirm') Confirm Password
                    input#reset-password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    h3.pswd-invalid.hidden(style="color:red; font-style:italic") Passwords do not match!!
                .form__group
                    button.btn.btn--green.btn--reset-password(type='submit') Reset Password
                    
    script(src='/js/resetPassword.js' defer)