extends base 
block append head 
    script(src='/js/alerts.js')
    //- script(type='text/javascript' src=`/js/validatePassword.js` defer)
block content
    
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot Password
            form.form.form--forgot-password 
                .form__group
                    label.form__label(for='email') Email address
                    input#forgot-password-email.form__input(type='email', placeholder='you@example.com', required)
                    a.go-to-login(href='/login') Back to Login
                .form__group
                    button.btn.btn--green.btn--forgot-password(type='submit') Reset Password
    script(src='/js/forgotPassword.js' defer)