extends base 
block append head 
    script(src=`/js/validatePassword.js` defer)
block content
    
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Create your account
            form.form.form--signup
                .form__group
                    label.form__label(for='signup-email') Email address
                    input#signup-email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    label.form__label(for='signup-name') Full Name
                    input#signup-name.form__input(type='text', placeholder='John Smith', required)
                .form__group.ma-bt-md
                    label.form__label(for='signup-password') Password
                    input#signup-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='signup-password-confirm') Confirm Password
                    input#signup-password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    h3.pswd-invalid.hidden(style='color:red; font-style:italic') Passwords do not match!!
                .form__group.ma-bt-md
                    label.form__label(for='signup-password-confirm') Role
                    select.form__input#ddlViewBy()
                        option.form__input(value='artist' ) Artist
                        option.form__input(value='user'  selected='selected') User
                .form__group
                    button.btn.btn--green.btn--signup Create Account
    script(src='/js/signup.js')
                   
